.info-summary-box {
  padding: 10px;
  margin: 10px;
  color: #006AE3;
  background-color: black;
  border-radius: 2px;
  position: relative; }

.info-summary-box-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 0;
  background-color: white;
  z-index: 2;
  -webkit-transition: height 0.8s ease;
  -moz-transition: height 0.8s ease;
  -o-transition: height 0.8s ease;
  transition: height 0.8s ease; }

.info-summary-box:hover .info-summary-box-bg {
  height: 270px; }

.info-summary-box-img {
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -webkit-transform 0.3s ease;
  -o-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease; }

.info-summary-box:hover .info-summary-box-img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3); }

.info-summary-box:hover {
  /*transform: rotate(45deg);*/
  cursor: pointer; }

.info-summary-inner-box {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  z-index: 5; }

.info-summary-inner-box-img-box {
  text-align: center;
  height: 205px;
  overflow: hidden; }

@media (min-width: 0px) and (max-width: 400px) {
  .info-summary-inner-box {
    width: 95%; }
  .info-summary-box {
    margin: 10px 0; } }

.skill-lvl-box {
  margin: 5px 10px; }

.skl-lvl-icon {
  padding: 5px;
  border-radius: 5px; }

.skl-lvl-beg {
  background-color: #F5DCBC; }

.skl-lvl-intr {
  background-color: #F5B664; }

.skl-lvl-adv {
  background-color: #F58B00; }

.skl-lvl-txt-box {
  font-size: 20px;
  padding: 30px 50px;
  margin: 10px;
  border-radius: 3px;
  color: white; }

.but {
  padding: 20px 45px;
  margin: 0 5px;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none; }

.but:hover {
  cursor: pointer; }

.but-wht-solid-oj {
  border: none;
  background-color: white;
  color: #F28911;
  border-radius: 2px;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out; }

.but-wht-solid-oj:hover {
  background-color: #F28911;
  color: white; }

.but-wht-solid-oj:active {
  color: black;
  background-color: #F28911; }

.but-wht-solid-blue {
  border: none;
  background-color: white;
  color: #006AE3;
  border-radius: 2px;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out; }

.but-wht-solid-blue:hover {
  background-color: #006AE3;
  color: white; }

.but-wht-solid-blue:active {
  color: black;
  background-color: #006AE3; }

@media (min-width: 0px) and (max-width: 700px) {
  .but {
    padding: 15px 35px; } }

#modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 10; }

#modal-box-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  text-align: center; }

#modal-box {
  padding: 20px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  z-index: 12; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: arial;
  color: #292929; }

h1, h2, h3, h4, h5, h6, p {
  margin: 20px 0; }

h1, h2, h3 {
  font-weight: bold; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

.large-h3 {
  font-size: 4em; }

.large-h4 {
  font-size: 2em; }

/*
transition:  [ <transition-property> ||
               <transition-duration> ||
               <transition-timing-function> ||
               <transition-delay> ]
*/
#id_of_element {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

#site-main-box {
  width: 100%;
  height: 100%; }

#white-overlay-100x100 {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.4; }

ul {
  list-style: none; }

.site-width {
  width: 1000px;
  margin: 0 auto; }

#header-menu-bar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 0; }

#header-body {
  width: 97%; }

header {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(../images/city-scape-black-white.jpg);
  background-repeat: no-repeat; }

.header-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; }

#mini-projects {
  background-color: #006AE3;
  background-image: url(../images/blue-texture-bg.jpg);
  color: white; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.vert-mid-hack {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -10px; }

.bg-tomato {
  background-color: tomato; }

.bg-wht {
  background-color: white; }

.sect-pad-t-20 {
  padding-top: 20px; }

.sect-pad-20 {
  padding: 20px 0; }

.sect-pad-40 {
  padding: 40px 0; }

.sect-pad-60 {
  padding: 60px 0; }

.sect-pad-80 {
  padding: 80px 0; }

.sect-pad-100 {
  padding: 100px 0; }

.col-1-1 {
  width: 95%; }

.col-1-2 {
  width: 48%; }

.col-1-3 {
  width: 31%; }

.col-2-3 {
  width: 64%; }

.col-1-4 {
  width: 23%; }

.col-1-5 {
  width: 18%; }

.col-1-6 {
  width: 15%; }

.col-3-4 {
  width: 74%; }

.col {
  display: inline-block; }

.col-top {
  display: inline-block;
  vertical-align: top; }

.col-mid {
  display: inline-block;
  vertical-align: middle; }

.col-const {
  display: inline-block; }

.col-top-const {
  display: inline-block;
  vertical-align: top; }

.col-mid-const {
  display: inline-block;
  vertical-align: middle; }

.link {
  padding: 5px 20px;
  color: #eee; }

.link:hover {
  cursor: pointer;
  color: teal; }

.flt-lft {
  float: left; }

.flt-rgt {
  float: right; }

.width-100-pc {
  width: 100%; }

.gen-img {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 2px; }

.vert-mid-hack {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -10px; }

.opacity-7 {
  opacity: 0.7; }

@media (min-width: 0px) and (max-width: 1050px) {
  .site-width {
    width: 95%; } }

@media (min-width: 0px) and (max-width: 400px) {
  .col, .col-top, .col-mid {
    /*display: block;*/
    width: 85%;
    /*margin: auto;*/ } }

@media (min-width: 0px) and (max-width: 700px) {
  #header-menu-nav {
    display: none; }
  #header-menu-bar {
    padding: 20px 0; }
  .vis-lg {
    display: none; }
  h1, h2, h3, h4, h5, h6, p {
    margin: 20px 0; }
  h1, h2, h3 {
    font-weight: bold; }
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.75em; }
  h3 {
    font-size: 1.5em; }
  .large-h3 {
    font-size: 2.5em; }
  .large-h4 {
    font-size: 1em; } }
