<!DOCTYPE html>
<html>
<head>
	<title>
		Abdul's Portfolio
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="cssReset/cssReset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="js/angMainController.js"></script>
	<script type="text/javascript" src="js/angHeaderSectionService.js"></script>
	<script type="text/javascript" src="js/angSkillsSectionService.js"></script>
	<script type="text/javascript" src="js/angMiniProjectsSectionService.js"></script>
</head>
<body data-ng-app="PortfolioMain" data-ng-controller="MainController as MainCtrl">
	<div id='modal-bg'></div>
	<div id='modal-box-bg'>
		<div id='modal-box'>
		</div>
		<div class="vert-mid-hack"></div>
	</div>
	<div class="box center" id="site-main-box">
			<header class="center">
				<div class="flt-left" style="height: 0;">
					<section id="header-menu-bar">
						<div class="site-width">
							<div class="col-mid col-1-2 left">
								<h1>{{ MainCtrl.HeaderSectionH1 }}</h1>
							</div>
							<nav class="col-mid col-1-2 right">
								<ul id="header-menu-nav">
									<li data-ng-repeat='link in MainCtrl.HeaderSectionNavigationLinks' class="col-mid link">
										{{ link }}
									</li>
								</ul>
							</nav>
						</div>
					</section>
				</div>
				<div id="header-body" class="col-mid-const">
					<div>
						<h3 class="large-h3">
							{{ MainCtrl.HeaderSectionH3 }}
						</h3>
						<h4 class="large-h4">
							{{ MainCtrl.HeaderSectionH4 }}
						</h4>
					</div>
					<button class="but but-wht-solid-blue col-mid-const">button</button>
					<button class="but but-wht-solid-blue col-mid-const">button</button>
				</div>
				<div class="vert-mid-hack"></div>
			</header>
			<section class="sect-pad-60">
				<div class="center">
					<h3>{{ MainCtrl.SkillsSectionH3 }}</h3>
					<ul>
						<li data-ng-repeat='skill in MainCtrl.SkillsSectionTitles' class="col-mid-const skill-lvl-box">
							<div class="col-mid-const skl-lvl-icon" data-ng-class="skill.ngclass"></div>
							<label class="col-mid-const">
								{{ skill.text }}
							</label>
						</li>
					</ul>
					<section class="sect-pad-t-20">
						<div class="">
							<label data-ng-repeat='item in MainCtrl.SkillsSectionItemsOne' class="col-mid-const skl-lvl-txt-box" data-ng-class="item.ngclass">
								<div class="col-mid-const">{{ item.text }}</div>
								<div class="vert-mid-hack"></div>
							</label>
						</div>
						<div class="vis-lg">
							<label data-ng-repeat='item in MainCtrl.SkillsSectionItemsTwo' class="col-mid-const skl-lvl-txt-box" data-ng-class="item.ngclass">
								<div class="col-mid-const">{{ item.text }}</div>
								<div class="vert-mid-hack"></div>
							</label>
						</div>
					</section>
				</div>
			</section>
			<section id='mini-projects' class='sect-pad-60'>
				<div class="website-width center">
					<div>
						<h3>{{ MainCtrl.MiniProjectsSectionH3 }}</h3>
						<h4>{{ MainCtrl.MiniProjectsSectionH4 }}</h4>
					</div>
					<div data-ng-repeat='item in MainCtrl.MiniProjectsSectionItems' class="info-summary-box col-top">
						<div class="info-summary-box-bg"></div>
						<div class="info-summary-inner-box">
							<div class="info-summary-inner-box-img-box">
								<img class="gen-img info-summary-box-img" alt="Can't find image :(" src="{{item.imageSource}}">
							</div>
							<div>
								<p class='info-summary-box-p'>{{ item.text }}</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class='sect-pad-60' style='background-color: black;'>

  
			</section>
	</div>

	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>